# These are custom packages. Other dependencies are in setup.py

git+https://github.com/tfiers/seaborn#seaborn
git+https://github.com/tfiers/raincloud#raincloud

# Closed source for now - download and install manually
# git+https://bitbucket.org/kloostermannerflab/fklab-python-core/src/master#fklab
